<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Categories" subheader="Create, Edit and Delete Categories" >
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button 
                            styleClass="p-button-success" 
                            label="New" 
                            icon="pi pi-plus"
                            routerLink="form">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="categories" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th>ID</th> Comment Out if not needed in FrontEnd -->
                            <th pSortableColumn="name">Category Name<p-sortIcon field="name"></p-sortIcon></th>
                            <th>Icon</th>
                            <th>Color</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                        <tr>
                            <!-- <td>{{category._id}}</td> Comment Out if not needed in FrontEnd -->
                            <td>{{category.name}}</td>
                            <td><i class="pi" style="font-size: 2rem" [ngClass]="'pi-' + category.icon"></i></td>
                            <td>
                                <i class="pi pi-circle-on"
                                style="font-size: 2rem;"
                                [ngStyle]="{ color: category.color }">

                                </i>
                            </td>
                            <td>
                                <p-button 
                                    styleClass="p-button-success p-button-rounded mr-2" 
                                    icon="pi pi-pencil"
                                    (onClick)="updateCategory(category.id)"
                                    ></p-button>
                                <p-button 
                                    styleClass="p-button-danger p-button-rounded" 
                                    icon="pi pi-trash"
                                    (onClick)="deleteCategory(category.id)">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<!-- <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog> -->